.flex {
  display: flex;
}

.spacer {
  flex-grow: 1;
}

fieldset {
  border: 1px solid #0003;
}

legend {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

fieldset:not(:first-child):not(:last-child),
.form-item:not(:first-child):not(:last-child) {
  margin: 1em 0;
}

.label {
  display: block;
}

label.checkbox {
  display: inline-flex;
  align-items: center;
}

.checkbox > input[type="checkbox"] {
  margin-right: 0.5rem;
}

.radio-element-container {
  display: flex;
}

.radio-element > input[type="radio"] {
  display: none;
}

.radio-element-content {
  padding: 0.5rem;
  border-bottom: 0.5rem dotted transparent;
}

.radio-element > input[type="radio"]:checked + .radio-element-content {
  border-color: #0008;
}

.radio-element-content > img {
  display: block;
  width: 10rem;
  height: 10rem;
}

.textarea-raw {
  display: block;
  width: 100%;
  min-height: 8rem;
  padding: 0;
  border: none;
  resize: vertical;
}
