.manga-effect {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: min-content auto;
  animation: 50ms shake infinite;
}

:host-context(:root:not(.jojo-effect-press)) .manga-effect {
  display: none;
}

.manga-effect-cell {
  background: url("chrome-extension://__MSG_@@extension_id__/images/manga.png") no-repeat;
  background-size: 200% 200%;
}

.manga-effect-cell.top-left {
  background-position: top left;
}

.manga-effect-cell.top-right {
  background-position: top right;
}

.manga-effect-cell.bottom-left {
  background-position: bottom left;
}

.manga-effect-cell.bottom-right {
  background-position: bottom right;
}

.outer {
  position: absolute;
  display: flex;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: 0.2s 0.5s ease-in;
}

.outer.enter-active {
  opacity: 1;
}

.inner {
  display: flex;
  animation: 100ms manga-effect infinite;
}

.jojo {
  font: normal normal normal 200px/1 "jojomix";
}

.jojo-a::before { content: "a" }
.jojo-b::before { content: "b" }
.jojo-c::before { content: "c" }
.jojo-d::before { content: "d" }
.jojo-e::before { content: "e" }
.jojo-f::before { content: "f" }
.jojo-g::before { content: "g" }
.jojo-h::before { content: "h" }
.jojo-i::before { content: "i" }
.jojo-j::before { content: "j" }
.jojo-k::before { content: "k" }
.jojo-l::before { content: "l" }
.jojo-m::before { content: "m" }
.jojo-n::before { content: "n" }
.jojo-o::before { content: "o" }
.jojo-p::before { content: "p" }
.jojo-q::before { content: "q" }
.jojo-r::before { content: "r" }
.jojo-s::before { content: "s" }
.jojo-t::before { content: "t" }
.jojo-u::before { content: "u" }
.jojo-v::before { content: "v" }
.jojo-w::before { content: "w" }
.jojo-x::before { content: "x" }
.jojo-y::before { content: "y" }
.jojo-z::before { content: "z" }

@keyframes manga-effect {
  50% {
    transform: scale(0.95);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: rotate(-0.2deg);
  }
  50% {
    transform: rotate(0.2deg);
  }
}
